body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 10px solid #ccc;
    border-radius: 5px;
}


input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(46, 211, 46);
 
}  
